.slideInDown {
    animation: slideInDown 0.8s ease-out; /* Ajuste a duração e a função de temporização conforme necessário */
}

@keyframes slideInDown {
    0% {
        transform: translateY(-50%);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
    }
}

.slideInLeft {
    animation: slideInLeft 0.8s ease-out both;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-30%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
    }
}

.slideInRight {
    animation: slideInRight 0.8s ease-out both;
}

@keyframes slideInRight {
    0% {
        transform: translateX(10%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
    }
}

.fadeIn {
    animation: fadeIn 0.8s ease-out both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 410px){
    .fadeIn,
    .slideInRight,
    .slideInLeft,
    .slideInDown {
        animation: none 0s;
    }
}
