.normal {
    background-color: #a8a878;
    color: #6d6d4e;
}

.grass {
    background-color: #78c850;
    color: #4e8234;
}

.fire {
    background-color: #f08030;
    color: #9c531f;
}

.water {
    background-color: #6890f0;
    color: #445e9c;
}

.electric {
    background-color: #f8d030;
    color: #a1871f;
}

.ice {
    background-color: #98d8d8;
    color: #638d8d;
}

.ground {
    background-color: #e0c068;
    color: #927d44;
}

.flying {
    background-color: #a890f0;
    color: #6d5e9c;
}

.poison {
    background-color: #a040a0;
    color: #682a68;
}

.fighting {
    background-color: #c03028;
    color: #7d1f1a;
}

.psychic {
    background-color: #f85888;
    color: #8b3a3b;
}

.dark {
    background-color: #705848;
    color: #5a493e;
}

.rock {
    background-color: #b8a038;
    color: #786824;
}

.bug {
    background-color: #a8b820;
    color: #6d7815;
}

.ghost {
    background-color: #705898;
    color: #493963;
}

.steel {
    background-color: #b8b8d0;
    color: #787887;
}

.dragon {
    background-color: #7038f8;
    color: #4924a1;
}

.fairy {
    background-color: #ee99ac;
    color: #9b6470;
}
